<div id="<%= dom_id todo_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Todo list:</strong>
    <%= todo_item.todo_list_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= todo_item.text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Completed:</strong>
    <%= todo_item.completed %>
  </p>

</div>
